*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    background-color: hsl(257, 40%, 49%);
}

.geral{
    display: flex;
    margin: 3% 0;
    width:100%;
}
/* Header */
.header{
    text-align:left;
    margin: 5% 5% 5%;
    }

.header img{
    width:150px;
}
  
/* Body */
.img-hero{
    text-align:center;
}

.main-text{
    margin: 6% 11% 2%;
}

.main-text {
    width:50%;
 
}

.text {
    padding: 20px;
    text-align:center;
}

.image{
    width: 300px;
    margin: 5% 0;

}

.headding{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
    text-align:center;
    font-size: 2em;
    line-height: 1.3em;
}

.body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.3em;
    color:white;
    text-align:center;
}

/* Botão de registr */

.Register{
    text-align:center;
}

.button{
    border-radius: 50px;  
    background-color:white;
    color:hsl(257, 40%, 49%);
    text-align:center;
    margin-top:50px;
    margin-left:50px;
    padding: 15px 40px 15px 40px;
    border:none;
    outline: none;
    font-family:"Poppins", sans-serif;
}

.button:hover {
    border-color: hsl(257, 40%, 49%);
    background-color: hsl(257, 40%, 49%);
    color: white;
    cursor:pointer; /* troca o cursor para a mãozinha*/
}


@media(min-device-width: 768px) {

    .header img {
        width: 180px;
    }

    .image {
        width: 500px;
    }

    .geral{
        margin: 6% 0 2%;
    }
    .headding {
        font-size: 2rem;
    }
    .body {
        margin: 1.5% 20%;
    }

    .button {
        margin: 2.5% 0;
    }
}