*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}

.header img{
    padding-top: 20px;
    padding-left: 20px; 
    width:150px;
}

.main-text{
    display:flex;
    flex-wrap:wrap;
    margin: 4% 14%;
}

.main-text div{
    width:50%;
 
}

.text {
    padding: 20px;
}

.image{
    width: 500px;
}

.headding{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
    display:flex;
    text-align:center;
}

.body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    color:white;
    text-align:center;
}

.button{
    border-radius: 9px;
    background-color:white;
    color:hsl(257, 40%, 49%);
    text-align:center;
    padding: 10px;
    border:none;
    outline: none;
    font-family:"Poppins", sans-serif;
}