*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    background-color: hsl(257, 40%, 49%);
    max-width:1100px;
    margin: 0 auto;
}

.geral{
    display: flex;
    align-items: center;
    width:100%;
}
/* Header */
.header{
    text-align:left;
    margin: 5% 5% 5%;
    }

.header img{
    width:150px;
}
  
/* Body */
.img-hero{
    text-align:center;
}

/* .main-text{
    margin: 6% 11% 2%;
} */

.main-text {
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
}

.text {
    padding: 20px;
    text-align:center;
}

.image{
    width: 300px;
    margin: 100px;

}

.headding{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;

    font-size: 2em;
    line-height: 1.3em;
}

.body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.3em;
    color:white;

}

/* Botão de registr */

.Register{
    text-align:center;
}

.button{
    border-radius: 50px;  
    background-color:white;
    color:hsl(257, 40%, 49%);
    text-align:center;
    padding: 15px 40px 15px 40px;
    border:none;
    outline: none;
    font-family:"Poppins", sans-serif;
}

.button:hover {
    border-color: hsl(257, 40%, 49%);
    background-color: hsl(257, 40%, 49%);
    color: white;
    cursor:pointer; /* troca o cursor para a mãozinha*/
}

footer{
    display:flex;
    gap:10px;
    justify-content: flex-end;
    
}

footer svg{
    width:30px;
    fill: #fff2f2;
    border: 1px solid white;
    padding: 8px;
    border-radius:50%;
}
   

.social:hover{
    cursor:pointer;
}
